

.box-create-ass{
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.bg-create-ass{
    box-sizing: border-box;
    padding: 120px 20px 20px 20px;
    width: 100%;
    /* background-color: rgb(0, 255, 30); */
}

.box-tag-create-ass{
    /* padding-top: 30px; */
    box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
    border: 1px solid #ddd;
    position: relative;
    width: 100%;
    background-color: #FFFFFF;
    box-sizing: border-box;
    margin: 0;
}

.box-tag-create-ass{
    /* background-color: aqua; */
    width: 100%;
}

.p-man-create-ass{
    /* background-color: #51b3f0; */
    text-align: center;
    font-size: clamp(16px, 2.5vw, 28px);
    font-weight: 900;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 30px;
}







/* Tag title */

.con-title-create-ass{
    /* background-color: #f3f3f3; */
    width: 100%;
    padding: 5px 0px 8px 0px;
    margin: 1px 0px 0px 0px;
}

.box-title-create-ass{
    /* background-color: rgb(0, 102, 255); */
    /* margin: 0px 20px; */
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.title-inp-create-ass{
    background: #f3f3f3;
    padding: 7px 5px;
    border-radius:45px 45px 45px 46px;
    padding-left: 50px;
    padding-right: 45px;
    border:1px solid rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 33px;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
}

.title-inp-create-ass:focus{
    outline: none;
}

.file-ic-create-ass{
    position: relative;
    left: 40px;
    top: 12px;
    font-size: clamp(20px, 2.5vw, 24px);
}

.box-btn-save-create-ass{
    /* background-color: coral; */
    text-align: right;
}


.btn-save-create-ass{
    cursor: pointer;
    box-sizing: border-box;
    min-width: max-content;
    padding: 7px 20px;
    border-radius:45px 45px 45px 46px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: clamp(14px, 2.5vw, 20px);
    font-weight: 500;
    color: blue;
    position: relative;
    right: 15px;
}

.btn-save-create-ass:hover{
    background-color: #fadbdb;
}

.lbl-ic-p-create-ass{
    color: black;
    /* background-color: #ce452a; */
    position: relative;
    top: 5px;
    left: -7px;
}

.btn-save-title{
    font-size: clamp(20px, 2.5vw, 24px);
}

















.box-title-1-create-ass{
    /* background-color: rgb(151, 87, 64); */
    padding-top: 20px;
}

.title-1-create-ass{
    background-color: #EBEBEB;
    padding: 5px 25px 5px;
    display: flex;
    justify-content: left;
}

.lbl-big-title{
    padding: 5px 0px 0px 5px;
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 600;
}

.inp-title-1-create-ass{
    background-color: #EBEBEB;
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 600;
    padding: 5px 10px 0px 5px;
    width: 95%;
    border: none;
    outline: none;
    
}




.box-inp-title-1_1-create-ass{
    padding-top: 12px;
    padding-left: 40px;
    display: flex;
    counter-reset: Serial;
}

.inp-title-1_1-create-ass{
    font-size: clamp(14px, 2.5vw, 18px);
    font-weight: 400;
    padding: 5px 10px 5px 5px;
    width: 85%;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.btn-delete-title-1_1-create-ass{
    margin-right: 5px;
    font-size: clamp(14px, 2.5vw, 20px);
    position: relative;
    bottom: 6px;
    cursor: pointer;
}

.icon-delete-title-1_1-create-ass{
    position: relative;
    top: 3px;
    color: #f05171;
}

.btn-delete-title-1_1-create-ass:hover{
    background-color: #fadbdb;
}





.box-btn-plus-title-create-ass{
    padding-top: 12px;
    display: flex;
    padding-left: 70px;
}

.btn-plus-title-create-ass{
    cursor: pointer;
    padding: 5px 15px;
    border-radius:45px 45px 45px 46px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: clamp(14px, 2.5vw, 20px);
    font-weight: 500;
    color: black;
    min-width: max-content;

}

.lbl-ic-plt-create-ass{
    position: relative;
    top: 2px;
    left: -3px;
    padding-right: 5px;
}