@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Nunito Regular'), local('Nunito-Regular'), 
     url(https://fonts.gstatic.com/s/nunito/v11/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) 
     format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, 
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, 
      U+2215, U+FEFF, U+FFFD;
  }

.box-em{
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.bg-em{
    /* position: relative; */
    box-sizing: border-box;
    padding-top: 67px;
    width: 100%;
    /* background-color: rgb(0, 255, 30); */
}



/* Tag search */

.con-search-em{
    background-color: #f3f3f3;
    width: 100%;
    /* padding-top: 15px;
    padding-bottom: 8px; */
    padding: 15px 0px 8px 0px;
    margin: 1px 0px 0px 0px;
}

.search-em{
    /* background-color: rgb(0, 102, 255); */
    /* margin: 0px 20px; */
    display: flex;
    justify-content: center;
}

.lbl-search{
    /* background-color: aqua; */
    width: 60%;
    display: flex;
}

.search-inp-em{
    background: #ffffff;
    padding: 7px 5px;
    border-radius:45px 45px 45px 46px;
    padding-left: 20px;
    padding-right: 45px;
    border:1px solid rgba(0, 0, 0, 0.5);
    width: 85%;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
}

.search-inp-em:focus{
    outline: none;
}

.filt-ic-em{
    position: relative;
    right: 35px;
    top: 9px;
    font-size: 20px;
}

.btn-search-em{
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
    padding: 7px 25px 7px 25px;
    /* margin-left: 10px; */
    /* display: flexbox; */
    border-radius:45px 45px 45px 46px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.btn-search-em:hover{
    background-color: #ce452a;
    color: #ffffff;
}










/* Tag Table */


.tb-em{

    /* padding-top: 30px; */
    position: relative;
    width: 100%;
    /* background-color: #f05171; */
    box-sizing: border-box;
    padding: 40px 15px 15px 15px;
    margin: 0;
    
    

}

.con-tbl-em {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: 2px solid #ddd;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 400;
    /* background-color: #f0e351; */
    width: 100%;
    padding-top: 10px;

}

.box-tbl-em{
    /* background-color: #ce452a; */
    height: 530px;
    overflow: scroll;
    /* overflow-x:auto; */
    border-bottom: 10px solid #51b3f0;
    padding-top: 0.5%;
}

.p-man-em{
    /* background-color: #51b3f0; */
    text-align: center;
    font-size: clamp(16px, 2.5vw, 28px);
    font-weight: 900;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 40px;
}

.p-btn-pherm{
    background-color: #51b3f0;
    position: relative;
    display: block;
    text-align: right;
    right: 35%;
    top: -50px;
}

.btn-pherm{
    cursor: pointer;
    box-sizing: border-box;
    padding: 7px 20px;
    border-radius:45px 45px 45px 46px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: clamp(14px, 2.5vw, 20px);
    font-weight: 500;
    color: blue;
    margin-left: 3%;
}

.btn-pherm:hover{
    background-color: #fadbdb;
}

.lbl-ic-p{
    color: rgb(41, 192, 33);
    /* background-color: #ce452a; */
    position: relative;
    top: 2px;
    left: -7px;
}













/*In table */

.tbl-em{
    /* background-color: #ce452a; */
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    border: 1px solid #f3f3f3;
    counter-reset: Serial;
    
}


.tbl-em thead tr{
    text-align: left;
    /* padding: 8px; */
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 16px);
    background-color: #51b3f0;
    position: sticky;
    top: -10px;
    z-index: 1;
}

.tbl-em th, .tb-em td{
    padding: 12px 15px;
}

.tb-em tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tb-em tbody tr:nth-of-type(even){
    background-color: #f3f3f3f3;
}

.tbl-row-no-em:first-child::before{
    counter-increment: Serial;
    content: counter(Serial);
}

.btnnn{
    box-sizing: border-box;
    border: 0;
    background: no-repeat;
    padding-top: 5px;
}

.btnnn:hover{
    background-color: #fadbdb;
}

.up-em{
    color: #51b3f0;
    font-size: 18px;
    cursor: pointer;
}

.del-em{
    color: #f05171;
    font-size: 20px;
    cursor: pointer;
}








/* Design for Ipad */

@media all and (max-height: 1450px){
    .box-tbl-em{
        height: 950px;
    }
}


@media all and (max-height: 1300px){
    .box-tbl-em{
        height: 900px;
    }
}


@media all and (max-height: 1200px){
    .box-tbl-em{
        height: 800px;
    }
}

@media all and (max-height: 1100px){
    .box-tbl-em{
        height: 700px;
    }
}

@media all and (max-height: 1000px){
    .box-tbl-em{
        height: 600px;
    }
}

@media all and (max-height: 900px){
    .box-tbl-em{
        height: 500px;
    }
}

@media all and (max-height: 800px){
    .box-tbl-em{
        height: 400px;
    }
}

@media all and (max-height: 700px){
    .box-tbl-em{
        height: 350px;
    }
}

@media all and (max-height: 600px){
    .box-tbl-em{
        height: 300px;
    }
}

@media all and (max-height: 500px){
    .box-tbl-em{
        height: 250px;
    }
}



/* @media all and (max-width: 1024px){
    .box-tbl-em{
        height: 900px;
    }
}

@media all and (max-width: 800px){
    .box-tbl-em{
        height: 600px;
    }
}

@media all and (max-width: 600px){
    .box-tbl-em{
        height: 400px;
    }
}

@media all and (max-width: 400px){
    .box-tbl-em{
        height: 330px;
    }
} */