@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Noto Serif Lao', serif;
}


.myModal-up-em{
    /* display: none;  */
    position: absolute; 
    z-index: 2;
    padding-top: 100px; 
    left: 0;
    top: -100px;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.04); 
}

/* Modal Content */
.modal-content-up-em {
    background-color: #fefefe;
    margin: auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #888;
    width: 80%;
}

.close-up-em {
    /* color: #aaaaaa; */
    float: right;
    background: no-repeat;
    border: 0;
    position: relative;
    top: -2px;
    right: -21px;
    font-size: clamp(16px, 2.5vw, 24px);
    /* background-color: #888; */
    height: 37px;
}
  
.close-up-em:hover,
.close-up-em:focus {
    color: #ffffff;
    background-color: crimson;
    text-decoration: none;
    cursor: pointer;
}





.header-up-em{
    /* background-color: #0076FF; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.h6-data-up-em{
    font-size: clamp(16px, 2.5vw, 20px);
    font-weight: 800;
    text-align: center;
    /* background-color: yellowgreen; */
    width: 100%;
}

.div-picture-up-em{
    /* background-color: #0076FF; */
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.p-con-lbl-picture-up-em{
    /* background-color: #937b7b; */
    width: 30%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
    height: 110px;
}

.p-con-picture-up-em{
    /* background-color: #5e1919; */
    width: 30%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 5px;
    position: absolute;
    top: 0;
    
}

.inp-img-none{
    display: none;
}

/* .lbl-img-click-up-em{
    background-color: #0076FF;
    width: 100%;
} */

.img-click-up-em{
    font-size: 95px;
    position: relative;
    top: 2px;
}


.img-up-em{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #ff3333;
}

.box-con-box-inp-up-em{
    /* background-color: brown; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.box-input-up-em{
    /* background-color: bisque; */
    width: 70%;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
}




.p-inp-id-up-em{
    padding-top: 10px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: right;
}




/* Total label in file */

.lbl-head-up-em{
    min-width: max-content;
}



/* Total Input in file.css */

.inp-up-em{
    background-color: #a5a5a538;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.5);
    width: 80%;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 10px;
    margin-left: 7px;
}








.p-gender-up-em{
    width: 100%;
    /* background-color: rgb(89, 0, 255); */
    display: flex;
    justify-content: right;
    padding-top: 10px;
}

.p-phed-up-em{
    /* background-color: aliceblue; */
    display: flex;
    padding: 0;
    width: 80%;
    margin-left: 7px;
    
}

.p-soud-up-em{
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    /* background-color: #888; */
    margin-left: 30px;
}

.lbl-nnnn-up-em{
    /* background-color: rgb(14, 52, 39); */
    display: flex;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
}

.btn-radio-up-em{
    margin-left: 5px;
    cursor: pointer;
}






/* Total Paragrap */

.pppp-up-em{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: right;
    padding-top: 15px;
}






/* Total Select in file */

.sel-up-em{
    width: 80%;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 10px;
    border:1px solid rgba(0, 0, 0, 0.5);
    margin-left: 7px;
    background-color: #a5a5a538;
}







.p-btn-save-cancle-up-em{
    /* background-color: aquamarine; */
    padding-top: 20px;
    padding-top: 20px;
    text-align: center;

}

.btn-cancle-up-em{
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
    padding: 5px 25px 5px 25px;
    border-radius:10px;
    border: 1px solid #ff3333;
    background-color: #ff3333;
    color: #ffffff;
    cursor: pointer;
}

.btn-save-up-em{
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
    padding: 5px 25px 5px 25px;
    border-radius:10px;
    border: 1px solid #0076FF;
    background-color: #f3f3f3;
    color: #0076FF;
    margin-left: 40px;
    cursor: pointer;
    position: relative;
    left: 20%;
}

.btn-save-up-em:hover{
    background-color: #fadbdb;
}

.btn-cancle-up-em:hover{
    background-color: #5e1919;
}













@media all and (max-width: 1000px){
    .box-input-up-em{
        width: 100%;
    }
}

@media all and (max-width: 600px){
    .box-input-up-em{
        width: 100%;
    }
    .sel-up-em, .inp-up-em{
        width: 70%;
    }
    .p-phed-up-em{
        width: 70%;
    }
    .p-btn-save-cancle-up-em{
        display: flex;
        justify-content: right;
    }
    .btn-save-up-em{
        left: 0;
    }
    .img-click-up-em{
        font-size: 75px;
    }
    .img-up-em{
        height: 75px;
        width: 75px;
    }
    .p-con-lbl-picture-up-em{
        height: 85px;
    }
}

@media all and (max-width: 400px){
    .box-input-up-em{
        width: 100%;
    }
    .sel-up-em, .inp-up-em, .p-phed-up-em{
        width: 60%;
    }
}