@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Lao:wght@100;200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Noto Serif Lao', serif;
}

.dd{
    color: #ce452a;
}

.box-change-pos-history{
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.bg-change-pos-history{
    /* position: relative; */
    box-sizing: border-box;
    padding-top: 67px;
    width: 100%;
    /* background-color: rgb(0, 255, 30); */
}



/* Tag search */

.con-search-change-pos-history{
    background-color: #f3f3f3;
    width: 100%;
    /* padding-top: 15px;
    padding-bottom: 8px; */
    padding: 15px 0px 8px 0px;
    margin: 1px 0px 0px 0px;
}

.search-change-pos-history{
    /* background-color: rgb(0, 102, 255); */
    /* margin: 0px 20px; */
    display: flex;
    justify-content: center;
}

.lbl-search{
    /* background-color: aqua; */
    width: 60%;
    display: flex;
}

.search-inp-change-pos-history{
    background: #ffffff;
    padding: 7px 5px;
    border-radius:45px 45px 45px 46px;
    padding-left: 20px;
    padding-right: 45px;
    border:1px solid rgba(0, 0, 0, 0.5);
    width: 85%;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
}

.search-inp-change-pos-history:focus{
    outline: none;
}

.filt-ic-change-pos-history{
    position: relative;
    right: 35px;
    top: 9px;
    font-size: 20px;
}

.btn-search-change-pos-history{
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
    padding: 7px 25px 7px 25px;
    /* margin-left: 10px; */
    /* display: flexbox; */
    border-radius:45px 45px 45px 46px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.btn-search-change-pos-history:hover{
    background-color: #ce452a;
    color: #ffffff;
}











/* Tap Table */


.tb-change-pos-history{

    /* padding-top: 30px; */
    position: relative;
    width: 100%;
    /* background-color: #f05171; */
    box-sizing: border-box;
    padding: 40px 15px 15px 15px;
    margin: 0;
    
}

.con-tbl-change-pos-history {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: 2px solid #ddd;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 400;
    /* background-color: #f0e351; */
    width: 100%;
    padding-top: 10px;

}

.box-tbl-change-pos-history{
    /* background-color: #e2bdb6; */
    height: 530px;
    overflow: scroll;
    /* overflow-x:auto; */
    border-bottom: 10px solid #51b3f0;
    padding-top: 0.5%;
}

.p-man-change-pos-history{
    /* background-color: #51b3f0; */
    text-align: center;
    font-size: clamp(16px, 2.5vw, 28px);
    font-weight: 900;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 40px;
}

.p-history-change-pos-history{
    text-align: right;
    box-sizing: border-box;
    padding-right: 15px;
    padding-bottom: 15px;
}














/* In tap table */

.tbl-change-pos-history{
    /* background-color: #ce452a; */
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    border: 1px solid #f3f3f3;
    counter-reset: Serial;
}


.tbl-change-pos-history thead tr{
    text-align: left;
    /* padding: 8px; */
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 16px);
    background-color: #51b3f0;
    position: sticky;
    top: -10px;
    z-index: 1;
}

.tbl-change-pos-history thead tr{
    font-weight: 700;
    font-size: clamp(14px, 2.5vw, 16px);
}


.tbl-change-pos-history th, .tb-change-pos-history td{
    padding: 12px 15px;
}

.tb-change-pos-history tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tb-change-pos-history tbody tr:nth-of-type(even){
    background-color: #f3f3f3f3;
}

.tbl-row-no-change-pos-history:first-child::before{
    counter-increment: Serial;
    content: counter(Serial);
}

.btnnn-change-pos-history{
    box-sizing: border-box;
    border: 0;
    background: no-repeat;
    padding-top: 5px;
}

.btnnn-change-pos-history:hover{
    background-color: #fadbdb;
}

.ic-change-pos-history{
    color: #ff3333;
    font-size: 20px;
    cursor: pointer;
}
.column-mov-pos{
    text-align: center;
}








/* Design for Ipad */

@media all and (max-height: 1450px){
    .box-tbl-change-pos-history{
        height: 950px;
    }
}


@media all and (max-height: 1300px){
    .box-tbl-change-pos-history{
        height: 900px;
    }
}


@media all and (max-height: 1200px){
    .box-tbl-change-pos-history{
        height: 800px;
    }
}

@media all and (max-height: 1100px){
    .box-tbl-change-pos-history{
        height: 700px;
    }
}

@media all and (max-height: 1000px){
    .box-tbl-change-pos-history{
        height: 600px;
    }
}

@media all and (max-height: 900px){
    .box-tbl-change-pos-history{
        height: 500px;
    }
}

@media all and (max-height: 800px){
    .box-tbl-change-pos-history{
        height: 400px;
    }
}

@media all and (max-height: 700px){
    .box-tbl-change-pos-history{
        height: 350px;
    }
}

@media all and (max-height: 600px){
    .box-tbl-change-pos-history{
        height: 300px;
    }
}

@media all and (max-height: 500px){
    .box-tbl-change-pos-history{
        height: 250px;
    }
}