

.box-position{
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.bg-position{
    /* position: relative; */
    box-sizing: border-box;
    padding-top: 67px;
    width: 100%;
    /* background-color: rgb(0, 255, 30); */
}



/* Tag search */

.con-search-position{
    background-color: #f3f3f3;
    width: 100%;
    /* padding-top: 15px;
    padding-bottom: 8px; */
    padding: 15px 0px 8px 0px;
    margin: 1px 0px 0px 0px;
}

.search-position{
    /* background-color: rgb(0, 102, 255); */
    /* margin: 0px 20px; */
    display: flex;
    justify-content: center;
}

.lbl-search{
    /* background-color: aqua; */
    width: 60%;
    display: flex;
}

.search-inp-position{
    background: #ffffff;
    padding: 7px 5px;
    border-radius:45px 45px 45px 46px;
    padding-left: 20px;
    padding-right: 45px;
    border:1px solid rgba(0, 0, 0, 0.5);
    width: 85%;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
}

.search-inp-position:focus{
    outline: none;
}

.filt-ic-position{
    position: relative;
    right: 35px;
    top: 9px;
    font-size: 20px;
}

.btn-search-position{
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 500;
    padding: 7px 25px 7px 25px;
    /* margin-left: 10px; */
    /* display: flexbox; */
    border-radius:45px 45px 45px 46px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
}

.btn-search-position:hover{
    background-color: #ce452a;
    color: #ffffff;
}











/* Tap Table */


.tb-position{

    /* padding-top: 30px; */
    position: relative;
    width: 100%;
    /* background-color: #f05171; */
    box-sizing: border-box;
    padding: 40px 15px 15px 15px;
    margin: 0;
    
}

.con-tbl-position {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border: 2px solid #ddd;
    font-size: clamp(14px, 2.5vw, 16px);
    font-weight: 400;
    /* background-color: #f0e351; */
    width: 100%;
    padding-top: 10px;

}

.box-tbl-position{
    /* background-color: #e2bdb6; */
    height: 530px;
    overflow: scroll;
    /* overflow-x:auto; */
    border-bottom: 10px solid #51b3f0;
    padding-top: 0.5%;
}

.p-man-position{
    /* background-color: #51b3f0; */
    text-align: center;
    font-size: clamp(16px, 2.5vw, 28px);
    font-weight: 900;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 40px;
}

.p-btn-pherm-position{
    background-color: #51b3f0;
    position: relative;
    display: block;
    text-align: right;
    right: 35%;
    top: -50px;
}

.btn-pherm-position{
    cursor: pointer;
    box-sizing: border-box;
    padding: 7px 20px;
    border-radius:45px 45px 45px 46px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: clamp(14px, 2.5vw, 20px);
    font-weight: 500;
    color: blue;
    margin-left: 3%;
}

.btn-pherm-position:hover{
    background-color: #fadbdb;
}

.lbl-ic-p-position{
    color: rgb(41, 192, 33);
    /* background-color: #ce452a; */
    position: relative;
    top: 2px;
    left: -7px;
}













/* In tap table */

.tbl-position{
    /* background-color: #ce452a; */
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: auto;
    border: 1px solid #f3f3f3;
    counter-reset: Serial;
}


.tbl-position thead tr{
    text-align: left;
    /* padding: 8px; */
    font-weight: 500;
    font-size: clamp(14px, 2.5vw, 16px);
    background-color: #51b3f0;
    position: sticky;
    top: -10px;
    z-index: 1;
}

.tbl-position thead tr{
    font-weight: 700;
    font-size: clamp(14px, 2.5vw, 16px);
}


.tbl-position th, .tb-position td{
    padding: 12px 15px;
}

.tb-position tbody tr{
    border-bottom: 1px solid #dddddd;
}

.tb-position tbody tr:nth-of-type(even){
    background-color: #f3f3f3f3;
}

.tbl-row-no-position:first-child::before{
    counter-increment: Serial;
    content: counter(Serial);
}

.btnnn-position{
    box-sizing: border-box;
    border: 0;
    background: no-repeat;
    padding-top: 5px;
}

.btnnn-position:hover{
    background-color: #fadbdb;
}

.up-position{
    color: #51b3f0;
    font-size: 18px;
    cursor: pointer;
}

.del-position{
    color: #f05171;
    font-size: 20px;
    cursor: pointer;
}







/* Design for Ipad */

@media all and (max-height: 1450px){
    .box-tbl-position{
        height: 950px;
    }
}


@media all and (max-height: 1300px){
    .box-tbl-position{
        height: 900px;
    }
}


@media all and (max-height: 1200px){
    .box-tbl-position{
        height: 800px;
    }
}

@media all and (max-height: 1100px){
    .box-tbl-position{
        height: 700px;
    }
}

@media all and (max-height: 1000px){
    .box-tbl-position{
        height: 600px;
    }
}

@media all and (max-height: 900px){
    .box-tbl-position{
        height: 500px;
    }
}

@media all and (max-height: 800px){
    .box-tbl-position{
        height: 400px;
    }
}

@media all and (max-height: 700px){
    .box-tbl-position{
        height: 350px;
    }
}

@media all and (max-height: 600px){
    .box-tbl-position{
        height: 300px;
    }
}

@media all and (max-height: 500px){
    .box-tbl-position{
        height: 250px;
    }
}

/* @media all and (min-width: 1200px){
    .box-tbl-position{
        display: flex;
        justify-content: center;
    }
    .tbl-position{
        width: 80%;
    }
} */